{% extends 'base.html.twig' %}

{% set count = 0 %}
{% block body %}
    <div class="container mt-5 mb-3">
        {% if is_granted('ROLE_COMPAGNIE') %}
            <button class="btn btn-outline-secondary mb-3"><a class="text-secondary" href="/nouvelleOffre">Créer une nouvel annonce</a></button>
        {% endif %}
        <div class="row">

            {% for ad in adv %}
                {% block javascripts %}
                <script>
                    $(document).ready(function () {
                        $('#{{ count }}').on("click", function (){
                            document.getElementById("div{{ count }}").innerHTML = document.getElementById("{{ count }}").value;
                            $("#{{ count }}").hide();
                            $("#enregistrer{{ count }}").show();
                        });
                    });
                </script>
                <script>
                    $(document).ready(function (){
                        $("#enregistrer{{ count }}").on("click", function (){
                            let idAd = {{ ad.id }};
                            $.ajax({
                                url: '/enregistrerOffre',
                                type: 'POST',
                                data: {id : idAd},
                                success: function (response) {
                                    console.log(response.success)
                                    console.log()
                                },
                                error: function (response){
                                    alert('Vous êtes surement déconnécté');
                                }
                            });
                        });
                    })
                </script>
                {% endblock %}
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">{{ ad.idOwner.name }}</h6> <span>{{ ad.date }}</span>
                                </div>
                            </div>
                            <div class="badge"> <span>Job</span> </div>
                        </div>
                        <div class="mt-5">
                            <h3 class="heading">{{ ad.job }}</h3>
                            <div id="div{{ count }}"></div>
                            <div class="mt-5">
                                <button class="btn btn-dark" id="{{ count }}" value="{{ ad.jobDesc }}">Voir l'annonce</button>
                                <button class="btn btn-dark" id="enregistrer{{ count }}" value="{{ ad.id }}" style="display: none">Enregistrer l'annonce</button>
                            </div>
                        </div>
                    </div>
                </div>

                {% set count = count + 1 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}